.home{
    background: #ebecec;
    .boardList{
        background: #fff;
        display: flex;
        margin-bottom: 20px;
        .board{
            font-size:28px;
            width: 180px;
            padding: 10px;
            display: inline-block;
            border-radius: 10px;
            margin-right:10px;
            text-align: center;
            flex-shrink:0;
        }
    }
    .fundList{
        background: #fff;
        font-size: 35px;
        .thead{

        }
        .lineContainer{
            display: flex;
            .leftPart{
                flex-shrink:0;
                width: 375px;
            }
            .rightPart{
                display: flex;
                flex-shrink:0;
                .td{
                    min-width: 160px;
                }
            }
        }
    }
}